<link rel="stylesheet" href="../dashboard/dashboard.component.scss">

<div fxHide.lt-sm>
  <span style="display: flex; align-items: center;">
    <img src="assets/snowflake.png" alt="PowderGuide Logo" style="height: 50px; width: 50px; margin: 10px;">
    <p style="font-family: 'Courier New', Courier, monospace; font-size: 24px; margin: 10px;">PowderGuide</p>
    <h1 style="text-align: center; flex-grow: 3; font-family: 'Courier New', Courier, monospace; font-size: 24px; margin: 10px"></h1>
    <div fxFlex="auto" fxLayoutAlign="flex-end" style="margin-right: 3%;" routerLink="/home">
      <mat-icon>home</mat-icon>
    </div>
  </span>

  <mat-grid-list cols="2">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgray'">
      <div *ngIf="skiArea && snowreport">
        <h1>{{ skiArea.name }}</h1>
        <p><strong>Skiregion:</strong> {{ skiArea.skiregion }}</p>
        <p><strong>Das Letzte mal aktualisiert:</strong> {{ skiArea.lastUpdated | date: "dd.MM.yyyy HH:mm:ss" }}</p>
        <p><strong>Schneetiefe:</strong> {{ skiArea.snowDepth }} cm</p>
        <p><strong>Neuschnee:</strong> {{ skiArea.powderSnow }} cm</p>
        <p><strong>Geöffnete Skilifts:</strong> {{ snowreport.openskilift }}</p>
        <p><strong>Insgesamte Skilifts:</strong> {{ snowreport.totalskilift }}</p>
        <p><strong>Pistenkilometer:</strong> {{ snowreport.SkiAreaSlopeKm }} km</p>
      </div>
    </mat-grid-tile>

    <div *ngIf="tiles[1]?.data && tiles[1]?.data.length > 0">
      <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgray'">
        <div>
          <img [src]="selectedCameraUrl" alt="Webcam" style="width: 100%; height: auto;">
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div *ngIf="tiles.length > 2 && tiles[2]?.data">
    <h2>Karte des Skigebiets</h2>
    <img [src]="tiles[2].data" alt="Ski Map" style="width: 100%; height: 50%;">
  </div>
</div>


<div class="container" fxHide.gt-sm>
  <span class="header">
    <img src="assets/snowflake.png" alt="PowderGuide Logo" class="logo">
    <p class="title">PowderGuide</p>
    <div class="home-icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </div>
  </span>
  <div class="content">
    <div class="left-section" *ngIf="skiArea && snowreport">
      <h1>{{ skiArea.name }}</h1>
      <p><strong>Skiregion:</strong> {{ skiArea.skiregion }}</p>
      <p><strong>Das Letzte mal aktualisiert:</strong> {{ skiArea.lastUpdated | date: "dd.MM.yyyy HH:mm:ss" }}</p>
      <p><strong>Schneetiefe:</strong> {{ skiArea.snowDepth }} cm</p>
      <p><strong>Neuschnee:</strong> {{ skiArea.powderSnow }} cm</p>
      <p><strong>Geöffnete Skilifts:</strong> {{ snowreport.openskilift }}</p>
      <p><strong>Insgesamte Skilifts:</strong> {{ snowreport.totalskilift }}</p>
      <p><strong>Pistenkilometer:</strong> {{ snowreport.SkiAreaSlopeKm }} km</p>
    </div>

    <div class="right-section" *ngIf="tiles[1]?.data && tiles[1]?.data.length > 0">
      <div *ngIf="tiles[1].data.length>0">
        <img [src]="selectedCameraUrl" alt="Webcam" class="webcam-img">
      </div>
    </div>

    <div class="ski-map" *ngIf="tiles.length > 2 && tiles[2]?.data">
      <h2>Karte des Skigebiets</h2>
      <img [src]="tiles[2].data" alt="Ski Map" class="ski-map-img">
    </div>
  </div>
</div>

